
* {
  box-sizing:border-box;
}

button#btnhome:focus, #btnofz:focus , #btnother:focus
{
    background:olive;
}

body {
  /* background-color:#f8f8f8; */
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Bahnschrift";
  /* zoom: 90%; */
}

.footer1 {
  position: relative;
  padding: 5px 30px;
  top: 5px;
  bottom: 5px;
  width: 100%;
  background-color: #6c757d;
  text-align: left;
}

/* Call center */
@media screen and (max-width: 1280px) {
   body {
    background-color: rgb(248, 247, 247)
    /* zoom: 120%; */
   }


  div.x {
    height: 480px;
  }

  div.x2 {
    height: 200px;
  }
}

 /* Other All Devices */
@media screen and (min-width: 1366px) {

  div.x {
   height: 200px;
 }

 div.x2 {
  height: 100px;
}

}
/* 
@media screen and (max-width:1440px) {

  div.x {
    height: 210px;
  }
 
  div.x2 {
   height: 100px;
 }
  }
  
  @media screen and (max-width:1536px) {
  
    div.x {
      height: 210px;
    }
   
    div.x2 {
     height: 100px;
   }
  }
  
  @media screen and (max-width:1600px) {
  
    div.x {
      height: 210px;
    }
   
    div.x2 {
     height: 100px;
   }
  }
  
  @media screen and (max-width:1680px) {
  
    div.x {
      height: 210px;
    }
   
    div.x2 {
     height: 100px;
   }
  }
    
    @media screen and (max-width:768px) {
      div.x {
        height: 210px;
      }
     
      div.x2 {
       height: 100px;
     }
      } */

.row{
    /* background: linear-gradient(to bottom left, #304352 0%, #d7d2cc 10%); */
    margin-left: 0px;
    margin-right: 0px;
}
label{
    padding: .55rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;

    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    font-weight: 500;
    color: #495057;
    text-align: center;
    white-space: nowrap;

}
.btn{
    font-size: 1rem;
    border-radius: 0px;
    padding: 6px 40px;
    margin-top: 5px;
    font-weight: bold;
}

.adress, .appartment, .mail, .dob, .address2, .delinote, .company, .customer, .comments, .remarks{
    display: flex;
    padding-right: 10px;
}
.col, .col-7, .col-8, .col-9, .col-3{
    padding: 0px;
}
 table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
      
  } 
  
td {
    text-align: left;
    padding: 0px;
    width: 100px;
    font-size: 13px;
    border: 1px solid rgb(212, 212, 212);
    /* background-color:#f7eddf; */

  }

  tr:nth-child(odd){background-color: #c7e5e9;}
  tr:nth-child(even){background-color: #c7e5e9;}
  tr:hover {background-color: #7ba1ad;}

th{
    border:1px solid white ;
    background-color: #6c757d;
    color: white;
    padding: 2px;
    text-align: left;
    font-size: 12px;
    width: 100px;
    /* font-family: "Batang"; */
  }

  .table-sticky>thead>tr>th {
    top: 0px;
    position: sticky;
  }

fieldset {
    display: block;
    margin:0px;
    padding:5px;
    border: 1px groove ;
    
  }

legend.scheduler-border {
    font-size: 1em !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-bottom: 0px;
    width:inherit; /* Or auto */
    padding:0px 5px; /* To give a bit of padding on the left and right */
    border-bottom:none;

}


.scheduler-border h1{
    text-align: center;
    font-size: 20px;
}
.extra{
    display: flex;
    
}
.extra input{
    height: 30px;
    width: 12%;
    text-align: left;
    

}
.scheduler-border .row .col div span{
    font-size: 12px;
    padding:0px 15px;
    height: 20px;
    font-weight: 700;
    

}
.scheduler-border .row .col div input{
    height: 20px;
    
}
.modal-header {
    padding: 0.1rem 0.2rem;
    background-color: whitesmoke;
    font-size: 12px;
}
.modal-body {
    padding: 0.2rem;
    background-color: #e9ecef;
}
.modal-dialog {
    margin: 0 auto;
}
h6 {
    font-size: 0.8rem;
    padding-top: 2px;
}
.modal-body .input-group {
    height: 25px;
}

/* Floating Lable */
.border-lable-flt {
    display: block;
    position: relative;
  }
  .border-lable-flt label, .border-lable-flt > span {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    -webkit-transition: all .2s;
            transition: all .2s;
    top: -.5em;
    left: 0.75rem;
    z-index: 3;
    line-height: 1;
    padding: 0 1px;
  }
  .border-lable-flt label::after, .border-lable-flt > span::after {
    content: " ";
    display: block;
    position: absolute;
    background: white;
    height: 2px;
    top: 50%;
    left: -.2em;
    right: -.2em;
    z-index: -1;
  }
  .border-lable-flt .form-control::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
            transition: all .2s;
  }
  .border-lable-flt .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0;
    
  }

  .border-lable-flt .form-control:placeholder-shown:not(:focus) + * {
    font-size: 90%;
    opacity: .5;
    top: .3em;
  }
  
  .input-group .border-lable-flt {
    display: table-cell;

    /* padding-left: 10px; */
    /* padding-right: 10px; */
  }
  .input-group .border-lable-flt .form-control {
    border-radius: 0.25rem;
  }
  .input-group .border-lable-flt:not(:last-child), .input-group .border-lable-flt:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
  }
  .input-group .border-lable-flt:not(:first-child), .input-group .border-lable-flt:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  
  .form-control:focus {
    color: #442200;
    background-color: #fff;
    border-color: #006633;
    box-shadow: 0 0 0 0.2rem rgba(0, 102, 51, 0.25);
  }

   /* width */
   ::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(143, 143, 143);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #646464;
}

/* collapsible Panel  */
.box {
  float: right;
  overflow: hidden;

}
.box-inner {
  width: 760px;
  padding: 0px;
}


/* .label {
  color: white;
  padding: 0px;
} */

.other {background-color: #e7e7e7; color: black;} /* Gray */ 


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

div.disShow {
  height: 720px;
 }
 
 div.riderAssign {
   height: 500px;
  }
 
  div.pendingOrders {
   height: 250px;
  }
 
  div.dispathedOrders {
   height: 250px;
  }


  .ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
} 

.input #label-txtcxname {
  padding-right: 20px;
}

input[id="label-cxstatus"]
{
  border: 2px solid rgb(223, 38, 38);
  background-color : #eeb0b0; 
}

input[id="label-cxgridstreet"]
{
  border: 2px solid rgb(27, 114, 39);
}

input[id="TxtRecipeName"]
{
  border: 2px solid rgb(27, 114, 39);
}